body {
	background : grey;
}
table {
	border: inset 2px;
	border-collapse: collapse;
}
td, th {
	border: solid 1px;
	empty-cells: hide;
}
#mmap td { text-align: right; }
td:empty {
	background: #404040;
	text-align: center !important; 
}
