body {
	background : grey;
}
table {
	border: inset 2px;
	border-collapse: collapse;
}
td, th {
	border: solid 1px;
	empty-cells: hide;
}
#mmap td { text-align: right; }
td.na {
	text-align: center !important; 
	font-style: italic;
	background: #404040;
}
